table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
  vertical-align: top;
  padding: 1em;
}

img { 
   border:1px solid black;
}

body {
  background-color: AliceBlue;
}
